<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        Dog Show
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary" Type="ButtonType.Link" To="/register">Sign up</Button>
                <Button Color="Color.Secondary" Type="ButtonType.Link" To="/login">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>