@inherits LayoutComponentBase
@using DogShowApp.Shared.Data
@using DogShowApp.Client.Pages

@if (Login.user.isLoggedIn == true && Login.user.IsAdmin == false)
{
    <UserPage />
}
else if (Login.user.isLoggedIn == false && Login.user.IsAdmin == false)
{
    <DefaultPage />
}
else if (Login.user.IsAdmin == true)
{
    <AdminPage />
}
<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        StateHasChanged();
    }
}
