@page "/ticketinventory"

<PageTitle>Ticket Inventory</PageTitle>

<h1>Ticket Inventory</h1>

<Divider></Divider>

<Paragraph>Event Tickets: @Login.user.numOfEventTickets</Paragraph>
<Divider></Divider>
<Paragraph>Season Tickets: @Login.user.numOfSeasonTickets</Paragraph>
